<div style = "text-align: left"><font size = 8 color = "#B22222" face = "verdana"><b>Integrify</b></font></div>
<div style = "text-align: left"><font size = 6 color = "#00008B" face = "verdana"><b>Data Type Assignment_1</b></font></div>
<div style = "text-align: leftt"><font><i>By Jeremiah Aremu</i></font></div>
<div style = "text-align: leftt"><font>11th March 2023</font></div>

In [1]:
#Code space custom format 
import pandas as pd
import numpy as np
import warnings
warnings.simplefilter(action='ignore', category=RuntimeWarning)
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter(action='ignore', category=UserWarning)
warnings.simplefilter(action='ignore', category=DeprecationWarning)
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)
pd.options.display.max_colwidth = None
pd.set_option("display.float_format", lambda x: '%.2f' % x)
from IPython.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

#### 1.0 Create different data types using the constructor method and literals

#### Integer

In [5]:
# interger using constructor method
number = int(5)
print(type(number))

<class 'int'>

In [7]:
# integer using object literals
numbers = 2
print(type(numbers))

<class 'int'>

#### Float

In [8]:
# float using constructor 
float_const = float(2.3)
print(type(float_const))

<class 'float'>

In [9]:
# float using object literals
float_lit = 2.3
print(type(float_lit))

<class 'float'>

#### String

In [11]:
# string using constructor
string_cosntr = str("Hello world")
print(type(string_cosntr))

<class 'str'>

In [12]:
# string object using literals 
string_litr = "Hello world"
print(type(string_litr))

<class 'str'>

#### List

In [14]:
list_constr = list([1,2,3,4])
print(type(list_constr))

<class 'list'>

In [15]:
list_litr = [1,2,3,4]
print(type(list_constr))

<class 'list'>

#### Tuple

In [17]:
tuple_constr = tuple((1,2,3))
print(type(tuple_constr))

<class 'tuple'>

In [18]:
tuple_litr = (1,2,3)
print(type(tuple_litr))

<class 'tuple'>

#### Dictionary

In [19]:
dict_constr = dict({"Jerry": "Nigerian", "Victor": "Ghanian", "Timo": "Finnish"})
print(type(dict_constr))

<class 'dict'>

In [20]:
dict_litr = {"Jerry": "Nigerian", "Victor": "Ghanian", "Timo": "Finnish"}
print(type(dict_litr))

<class 'dict'>

#### Set

In [21]:
set_constr = set((1,4,5,6,8))
print(type(set_constr))

<class 'set'>

#### 2.0 Python operators

In [8]:
# assignment operator 
x  = 5 
x

5

#### 5.0 Indexing

In [13]:
countries = ['Finland', 'Sweden', 'Denmark', 'Netherlands', 'Germany', 'Norway', 'Iceland']

In [14]:
# find the index of "Sweden"
countries.index('Sweden')

1

In [15]:
# get all the items in "countries" except the first
countries[1:]

['Sweden', 'Denmark', 'Netherlands', 'Germany', 'Norway', 'Iceland']

In [16]:
# get all the items in "countries" except the last
countries[:-1]

['Finland', 'Sweden', 'Denmark', 'Netherlands', 'Germany', 'Norway']

In [17]:
# find the last item in "countries" using negative indexing
countries[-1]

'Iceland'

In [19]:
#find the last three items in "countries" using negative indexing
countries[-3:]

['Germany', 'Norway', 'Iceland']

In [20]:
# grab all the items with odd indices in the list "countries"
countries[1::2]

['Sweden', 'Netherlands', 'Norway']

In [31]:
# find the first and last item in the list "countries"
countries[::len(countries)-1]

['Finland', 'Iceland']

In [32]:
# find the first and last item in the list "countries" using list comprehension
[countries[i] for i in (0,-1)]

['Finland', 'Iceland']

In [36]:
# get ['Netherlands', 'Germany', 'Norway'] using negative indexing
countries[-4:-1]

['Netherlands', 'Germany', 'Norway']

In [45]:
# reverse the list countries
countries.reverse()
countries

['Iceland', 'Norway', 'Germany', 'Netherlands', 'Denmark', 'Sweden', 'Finland']

In [49]:
countries

['Iceland', 'Norway', 'Germany', 'Netherlands', 'Denmark', 'Sweden', 'Finland']

In [46]:
# what is the output of countries[::-2]
countries[::-2]

['Finland', 'Denmark', 'Germany', 'Iceland']

In [48]:
# what is the output of countries[1:100:2]
countries[1:100:2]

['Norway', 'Netherlands', 'Sweden']

In [50]:
# what is the output of countries[len(countries)-1:0:2]
countries[len(countries)-1:0:2]

[]

In [52]:
# get the output ['Germany', 'Netherland', 'Denmark']
countries[2:5]

['Germany', 'Netherlands', 'Denmark']

In [56]:
for index, item in enumerate(countries):
    print(index) 
    print(item)

0
Iceland
1
Norway
2
Germany
3
Netherlands
4
Denmark
5
Sweden
6
Finland

#### 6.0 Dictionaries

In [58]:
list_1 = ['a', 'b', 'c', 'd']
list_2 = [1,2,3,4]

#### 6a.

In [61]:
# merge lists of same length into one 
merge_dict = dict(zip(list_1, list_2))
merge_dict

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [71]:
# create two dictionaries and merge them into one 
dict_1 = {'Finland': 'Helsinki', 'Sweden':'Stockholm', 'Estonia': 'Tallin'}
dict_2 = {'Chelsea fc': 'England', 'Juventus fc': 'Italy', 'Barcelona fc': 'Spain'}
print(dict_1, dict_2)

{'Finland': 'Helsinki', 'Sweden': 'Stockholm', 'Estonia': 'Tallin'} {'Chelsea fc': 'England', 'Juventus fc': 'Italy', 'Barcelona fc': 'Spain'}

#### 6b.

In [80]:
# merge two dictionaries dict_1 and dict_2 into one
merged_dict = dict_1|dict_2
merged_dict

{'Finland': 'Helsinki',
 'Sweden': 'Stockholm',
 'Estonia': 'Tallin',
 'Chelsea fc': 'England',
 'Juventus fc': 'Italy',
 'Barcelona fc': 'Spain'}

#### 6c.

In [135]:
Students = ["Duy", "Laxmi","Antonio","Maria"]
Course  = ["Python","Database","ML"]

In [136]:
students_profile = {student:Course for student in Students}
students_profile

{'Duy': ['Python', 'Database', 'ML'],
 'Laxmi': ['Python', 'Database', 'ML'],
 'Antonio': ['Python', 'Database', 'ML'],
 'Maria': ['Python', 'Database', 'ML']}

In [137]:
# modify Antonio's course to ["JavaScript", "Database", "NodeJS"]
students_profile['Antonio'] = ["JavaScript", "Database", "NodeJS"]
students_profile

{'Duy': ['Python', 'Database', 'ML'],
 'Laxmi': ['Python', 'Database', 'ML'],
 'Antonio': ['JavaScript', 'Database', 'NodeJS'],
 'Maria': ['Python', 'Database', 'ML']}

In [138]:
# add ReactJs to Antonio's course 
students_profile['Antonio'].append("ReactJs")
students_profile

{'Duy': ['Python', 'Database', 'ML'],
 'Laxmi': ['Python', 'Database', 'ML'],
 'Antonio': ['JavaScript', 'Database', 'NodeJS', 'ReactJs'],
 'Maria': ['Python', 'Database', 'ML']}

#### Pop( ) operation on a dictionary

In [139]:
# example i will delete Antonio's profile using pop()
students_profile.pop('Maria')

['Python', 'Database', 'ML']

In [140]:
students_profile

{'Duy': ['Python', 'Database', 'ML'],
 'Laxmi': ['Python', 'Database', 'ML'],
 'Antonio': ['JavaScript', 'Database', 'NodeJS', 'ReactJs']}

In [129]:
dict_2 = {'joy': 13, 'chris': 15, 'jane':22, 'blake':16}

In [132]:
dict_2.pop('chris')

15

In [133]:
dict_2

{'joy': 13, 'jane': 22, 'blake': 16}

**Observation**: pop removes the element of the dictionary that is selected by removing the key and displaying the value

#### "del" operation on a dictionary

In [142]:
a_dict = {"A": 1, "B": 2, "C": 3, "D": 4, "F": 5}
a_dict.pop("A")
a_dict

{'B': 2, 'C': 3, 'D': 4, 'F': 5}

In [144]:
del a_dict['D']
a_dict

{'B': 2, 'C': 3, 'F': 5}

**Observation** del delete object which is the key-value pair mentioned after the del syntax